# redirect HTTP to HTTPS
# Listen 80
<VirtualHost *:80>
  ServerName {{ ansible_host }}
  #Redirect / https://{{ jupyterhub_domain }}/
  RewriteEngine On
  RewriteCond %{HTTP:Connection} Upgrade [NC]
  RewriteCond %{HTTP:Upgrade} websocket [NC]
  RewriteRule /(.*) ws://127.0.0.1:8000/$1 [P,L]

  <Location "/">
    # preserve Host header to avoid cross-origin problems
    ProxyPreserveHost on
    # proxy to JupyterHub
    ProxyPass         http://127.0.0.1:8000/
    ProxyPassReverse  http://127.0.0.1:8000/
  </Location>
</VirtualHost>

# Listen 443
<VirtualHost *:443>

  ServerName {{ ansible_host }}

  # configure SSL
  #SSLEngine on
  #SSLCertificateFile /etc/letsencrypt/live/{{ jupyterhub_domain }}/fullchain.pem
  #SSLCertificateKeyFile /etc/letsencrypt/live/{{ jupyterhub_domain }}/privkey.pem
  #SSLProtocol All -SSLv2 -SSLv3
  ##SSLOpenSSLConfCmd DHParameters /etc/ssl/certs/dhparam.pem
  #SSLCipherSuite EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH

  # Use RewriteEngine to handle websocket connection upgrades
  RewriteEngine On
  RewriteCond %{HTTP:Connection} Upgrade [NC]
  RewriteCond %{HTTP:Upgrade} websocket [NC]
  RewriteRule /(.*) ws://127.0.0.1:8000/$1 [P,L]

  <Location "/">
    # preserve Host header to avoid cross-origin problems
    ProxyPreserveHost on
    # proxy to JupyterHub
    ProxyPass         http://127.0.0.1:8000/
    ProxyPassReverse  http://127.0.0.1:8000/
  </Location>
</VirtualHost>